@import 'defaults';
@import 'normalize';
@import 'typo';
@import 'icons';

.root-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

// Basic page wrapper
.page {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  color: #373758;
  background: #f4f4ef;
}
