@import 'defaults';
@import 'normalize';
@import 'typo';

.root-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

// Basic page wrapper
.page {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  height: 100%;
  color: #373758;
  background: #f4f4ef;
}
