@import 'defaults';
@import 'normalize';
@import 'typo';

body {
  display: flex;
  justify-content: center;
  color: #373758;
  background-color: #f4f4ef;
}

.container {
  width: $base * 150;
  height: 100%;
}
